.item {
  padding: 10px 15px;
  max-width: 180px;
  margin: auto;
  background: rgb(71, 119, 214);
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.item:not(:last-child) {
  margin-bottom: 8px;
}

.item > span {
  margin-left: 10px;
}
